simple-function
simple-regalloc
simple-match
abstract-match
named-function-def
arithmetic-function
dotproduct
match
hello-world
hello-world-gencall
test-subroutine-convert
test-simple-branch
test-instr-match
test-loadstore-match
