test_bitstring1
test_bitstring2
test_bitstring3
test_context
test_graph
test_graphtraverser
test_metacontainers
test_resource
test_interference
test_shape
test_shape_crossings
test_subgraph_shape
test_gate_interference
test_rescls_count
test_machinedef
test_prune_replace
test_mutable_traverser
test_empty_graph
test_statesplit
test_typemismatch
arithmetic_function
