test-bitand
test-bitashr
test-bitnegate
test-bitnot
test-bitor
test-bitproduct
test-bitshiproduct
test-bitshl
test-bitshr
test-bitsmod
test-bitsquotient
test-bitsum
test-bituhiproduct
test-bitumod
test-bituquotient
test-bitxor
